@* 收到後端回應後，更新指定的區塊內容 *@
@* 前端(ajax) 後端(第一次進入頁面) 都共用同一個 html template，避免重工 *@
@page
@model Sample02
<a href="#"
   data-ajax="true"
   data-ajax-method="get"
   data-ajax-url="/sample/ajax/Sample02?handler=Partial"
   data-ajax-update="#panel">
    Click here
</a>
<div id="panel">
    <partial name="_HelloWorldPartial" />
</div>

@section scripts{
    <partial name="_JqueryAjaxUnobtrusive" />
}