<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RazorPages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">RazorPages</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Sample
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-page="/Sample/SameFile" class="dropdown-item">SameFile</a>
                        </li>
                        <li>
                            <a asp-page="/Sample/HttpMethods" class="dropdown-item">HttpMethods</a>
                        </li>
                        <li>
                            <a asp-page="/Sample/PageHandlers" class="dropdown-item">PageHandlers</a>
                        </li>
                        <li>
                            <a asp-page="/Sample/QueryString" class="dropdown-item">QueryString</a>
                        </li>
                    </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            Post Sample
                        </a>
                        <div class="dropdown-menu">
                            <a asp-page="/Sample/Post/Complex" class="dropdown-item">Complex</a>
                            <a asp-page="/Sample/Post/Sample01" class="dropdown-item">Sample01</a>
                            <a asp-page="/Sample/Post/Sample02" class="dropdown-item">Sample02</a>
                            <a asp-page="/Sample/Post/Sample03" class="dropdown-item">Sample03</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            Order
                        </a>
                        <div class="dropdown-menu">
                            <a asp-page="/Order/List" class="dropdown-item">List</a>
                            <a asp-page="/Order/Create" class="dropdown-item">Create</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - RazorPages - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version=" true "></script>

@RenderSection( "Scripts", required : false )
</body>
</html>