@* asp-all-route-data *@
@page
@model Sample04

<h1>Sample04</h1>
<form>
    <div class="form-group">
        <label asp-for="PageNo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PageNo" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PageSize" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PageSize" class="form-control">
        </div>
    </div>

    @{
        var Prev = new Dictionary<string, string>
                   {
                       { nameof(Model.PageSize), Model.PageSize.ToString() },
                       { nameof(Model.PageNo), (Model.PageNo - 1).ToString() }
                   };
        var Next = new Dictionary<string, string>
                   {
                       { nameof(Model.PageSize), Model.PageSize.ToString() },
                       { nameof(Model.PageNo), (Model.PageNo + 1).ToString() }
                   };
    }
    <div class="form-group row">
        <a asp-all-route-data="Prev" >@nameof(Prev)</a>
        <a asp-all-route-data="Next" >@nameof(Next)</a>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
</form>